// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;

$number_color: #3163ED;
// $btn_color: #5BCBC6; //rgb(91,203,198)
$btn_color: #53c9c5; //rgb(91,203,198)
$register_color: #5dc953; //rgb(91,203,198)
// $btn_color: #60dbd6; //rgb(91,203,198)
