// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
html{
    background: $white;
}
input{
    outline: none;
}

button{
    color: $white;
    box-shadow: 0px 5px 4px gray;
    transition: all .3s;
}

header{
    width: 95%;
    margin: auto;
    margin-top: 1%;
    height: 80px;
    line-height: 80px;
    .img-container{
        img{
            width: 75px;
            height: 75px;
        }
    }
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.top-container{
    padding-bottom: 50px;
    border-bottom: 1px solid #707070;
    .fade-down{
        opacity: 0;
        position: relative;
        top: -50px;
        .number-container{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            .img-container{
                margin-right: 50px;
                .img-area{
                    img{
                        width: 250px;
                        height: 250px;
                    }
                }
            }
            .peoples-container{
                .waiting-group{
                    font-size: 30px;
                }
                .peoples-group-container{
                    display: flex;
                    align-items: flex-end;
                    font-size: 40px;
                    line-height: 1;
                    .peoples-group{
                        margin-right: 10px;
                        font-size: 120px;
                        font-weight: bold;
                        color: $number_color;
                        line-height: 1.2;
                    }
                    .text-area{
                        font-size: 30px;
                        line-height: 2.6;
                        .group{
                            display: block;
                        }
                        .waiting{
                            display: block;
            
                        }
                    }
                }
            }
            .waiting-time-container{
                font-size: 20px;
                .text-area{
                    .waiting-container{
                        .time{
                            font-size: 60px;
                            color: $number_color;
                            line-height: 1;
                        }
                        .minits{
                        }
                    }
                }
            }
        }
    }
}
.bottom-container{
    .fade-up{
        opacity: 0;
        position: relative;
        top: 50px;
        .infomation-container{
            margin-top: 50px;
            text-align: center;
            font-size: 30px;
        }
    }
}
.link-area{
    width: 50%;
    margin: auto;
    top: 0;
    position: relative;
    .button-back{
        position: absolute;
        top: 8px;
        width: 100%;
        height: 100px;
        margin: auto;
        margin-top: 50px;
        border-radius: 10px;
        background: #008b8b;
    }
    .btn{
        position: relative;
        width: 100%;
        height: 100px;
        margin: auto;
        margin-top: 50px;
        line-height: 100px;
        font-size: 30px;
        border-radius: 10px;
        text-align: center;
        outline: none;
        color: $white;
        box-shadow: 0px 2px 0px rgba(255,255,255,0.5) inset, 
                    0px -2px 0px rgba(255,255,255,0.2) inset;
        background-color: $btn_color;
        top: 0;
        transition: .15s all ease;
        background-image: linear-gradient(180deg, #40e0d0 0%, $btn_color 90%);
        &:active{
            top: 5px;
        }
        // animation: pulse 2s infinite;
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(88, 120, 243, 0.4);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(88, 120, 243, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(88, 120, 243, 0);
    }
}

a{
    color: $white;
    text-decoration: none;
    &:hover{
        color: $white;
        text-decoration: none;
    }
}

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .error-msg{
        height: 30px;
        color: red;
        margin-left: 220px;
        font-size: 16px;
    }
    .entry-area{
        margin-bottom: 20px;
        padding-bottom: 10px;
        display: flex;
        border-bottom: 2px dotted #D7E4E8;
        .title{
            width: 200px;
            margin-right: 20px;
            font-size: 24px;
        }
        label{
            font-size: 18px;
        }
        input[type=text]{
            width: 250px;
            height: 40px;
            padding: 5px;
            border: 2px solid #D7E4E8;
        }
        input[type=number]{
            width: 250px;
            height: 40px;
            padding: 5px;
            border: 2px solid #D7E4E8;
        }
        input[type=radio]{
            margin-right: 10px;
        }
        select{
            width: 250px;
            height: 40px;
            border: 2px solid #D7E4E8;
        }

    }
    .btn-container{
        #form-submit{
            width: 100%;
            height: 50px;
            margin: auto;
            margin-top: 50px;
            line-height: 50px;
            font-size: 24px;
            border-radius: 10px;
            text-align: center;
            background-color: $btn_color;
            outline: none;
        }
    }
}

.btn-container{
    #form-submit{
        width: 100%;
        height: 50px;
        margin: auto;
        line-height: 50px;
        font-size: 24px;
        border-radius: 10px;
        text-align: center;
        background-color: $btn_color;
        outline: none;
    }
}

.modal-enter-active, .modal-leave-active {
    transition: opacity 0.4s;
  
    .modal-container {
      transition: opacity 0.4s, transform 0.4s;
    }
  }
  
  .modal-leave-active {
    transition: opacity 0.6s ease 0.4s;
  }
  
  .modal-enter, .modal-leave-to {
    opacity: 0;
  
    .modal-container {
      opacity: 0;
      transform: translate(0px, 50px);
    }
  }


