@import url(https://fonts.googleapis.com/css?family=Nunito);html {
  background: #ffffff;
}

body {
  background: #ffffff;
}

input {
  outline: none;
}

button {
  color: #ffffff;
  padding: 0;
  outline: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.btn {
  position: relative;
  border-radius: 10px;
  text-align: center;
  outline: none;
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.5) inset, 0px -2px 0px rgba(255, 255, 255, 0.2) inset;
  background-color: #53c9c5;
  top: 0;
  transition: .1s all ease;
  padding: 0 !important;
}

.btn:active {
  top: 5px;
}

.prev-btn-container {
  width: 87%;
  margin: auto;
  position: absolute;
  top: 120%;
  left: -5%;
}

.prev-btn-container .prev-btn-area {
  width: 23%;
  position: relative;
  display: flex;
  align-items: center;
}

.prev-btn-container .prev-btn-area .prev-btn {
  width: 85px;
  height: 85px;
  background: #f5f5f5;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s all ease;
  color: #232323;
  font-size: 32px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0px 5px 4px 0px #4e5246;
}

.prev-btn-container .prev-btn-area .prev-btn:active {
  top: 5px;
}

.link-area {
  position: relative;
  text-align: center;
}

.link-area .btn {
  height: 100px;
  margin: auto;
  margin-top: 50px;
  line-height: 100px;
  font-size: 40px;
  color: #ffffff;
}

.link-area .button-back {
  width: 30%;
  height: 100px;
  margin: auto;
  margin-top: 50px;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
}

.link-area .background-blue {
  background: #008b8b;
}

.link-area .next-form-btn {
  width: 50%;
}

.link-area .next-btn {
  width: 30%;
}

.link-area .waiting-btn {
  width: 30%;
  top: 5px;
  background: #f08080;
}

header {
  width: 95%;
  height: 80px;
  margin: auto;
  margin-top: 5px;
}

header .header-container {
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-container .page-description {
  margin-left: 10px;
  font-size: 30px;
}

header .header-container .img-container {
  margin-right: 10px;
}

header .header-container .img-container img {
  width: 75px;
  height: 75px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.container .top-container {
  padding-bottom: 50px;
  border-bottom: 1px solid #707070;
}

.container .top-container .number-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container .top-container .number-container .img-container {
  margin-right: 50px;
}

.container .top-container .number-container .img-container .img-area img {
  width: 250px;
  height: 250px;
}

.container .top-container .number-container .peoples-container .waiting-group {
  font-size: 30px;
}

.container .top-container .number-container .peoples-container .peoples-group-container {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 1;
}

.container .top-container .number-container .peoples-container .peoples-group-container .peoples-group {
  margin-right: 10px;
  font-size: 120px;
  font-weight: bold;
  color: #3163ED;
  line-height: 1.2;
}

.container .top-container .number-container .peoples-container .peoples-group-container .text-area {
  font-size: 30px;
  line-height: 2.6;
}

.container .top-container .number-container .peoples-container .peoples-group-container .text-area .group {
  display: block;
}

.container .top-container .number-container .peoples-container .peoples-group-container .text-area .waiting {
  display: block;
}

.container .top-container .number-container .waiting-time-container {
  font-size: 20px;
}

.container .top-container .number-container .waiting-time-container .text-area .waiting-container .time {
  font-size: 60px;
  color: #3163ED;
  line-height: 1;
}

.container .bottom-container .infomation-container {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

.active {
  -webkit-animation: fadeMove 1s ease;
          animation: fadeMove 1s ease;
}

@-webkit-keyframes fadeMove {
  0% {
    opacity: 0;
    left: 60%;
  }

  100% {
    opacity: 1;
    left: 50%;
  }
}

@keyframes fadeMove {
  0% {
    opacity: 0;
    left: 60%;
  }

  100% {
    opacity: 1;
    left: 50%;
  }
}

.reactive {
  -webkit-animation: fadeReMove 1s ease;
          animation: fadeReMove 1s ease;
}

@-webkit-keyframes fadeReMove {
  0% {
    opacity: 1;
    left: 50%;
  }

  100% {
    opacity: 0;
    left: 40%;
  }
}

@keyframes fadeReMove {
  0% {
    opacity: 1;
    left: 50%;
  }

  100% {
    opacity: 0;
    left: 40%;
  }
}

.passive-active {
  -webkit-animation: prevFadeMove 1s ease;
          animation: prevFadeMove 1s ease;
}

@-webkit-keyframes prevFadeMove {
  0% {
    opacity: 0;
    left: 40%;
  }

  100% {
    opacity: 1;
    left: 50%;
  }
}

@keyframes prevFadeMove {
  0% {
    opacity: 0;
    left: 40%;
  }

  100% {
    opacity: 1;
    left: 50%;
  }
}

.prev-reactive {
  -webkit-animation: prevFadeReMove 1s ease;
          animation: prevFadeReMove 1s ease;
}

@-webkit-keyframes prevFadeReMove {
  0% {
    opacity: 1;
    left: 50%;
  }

  100% {
    opacity: 0;
    left: 60%;
  }
}

@keyframes prevFadeReMove {
  0% {
    opacity: 1;
    left: 50%;
  }

  100% {
    opacity: 0;
    left: 60%;
  }
}

.form-container {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container .flex-container .input-container {
  width: 80%;
  margin-right: 60px;
}

.form-container .flex-container .input-container .input-area {
  display: flex;
  align-items: flex-end;
}

.form-container .flex-container .input-container .input-area .input input {
  width: 350px;
  height: 170px;
  text-align: center;
  border: 5px solid #707070;
  border-radius: 20px;
  font-size: 70px;
  color: #696969;
}

.form-container .flex-container .num-button-container {
  display: flex;
  flex-wrap: wrap;
}

.form-container .flex-container .num-button-container .num-button-area {
  position: relative;
  width: 33%;
  font-size: 50px;
}

.form-container .flex-container .num-button-container .num-button-area:nth-child(n+1):nth-child(-n+9) {
  margin-bottom: 25px;
}

.form-container .flex-container .num-button-container .num-button-area .button-back {
  position: absolute;
  top: 8px;
  z-index: -1;
  width: 85%;
  height: 110px;
  border-radius: 10px;
  background: #696969;
  outline: none;
}

.form-container .flex-container .num-button-container .num-button-area .input-btn {
  width: 85%;
  height: 110px;
  border-radius: 10px;
  border: 0.5px solid #808080;
  background: #f5f5f5;
  color: #232323;
  font-size: 40px;
  outline: none;
  transition: 0.05s all ease;
}

.form-container .flex-container .num-button-container .num-button-area .gray {
  top: 5px;
  color: #808080;
  background: #dcdcdc;
}

.form-container .flex-container .num-button-container .num-button-area .clear-btn {
  width: 186%;
}

.form-container .flex-container .num-button-container .num-button-area .clear-button-back {
  width: 186%;
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple .ripple-active {
  position: absolute;
  pointer-events: none;
  background: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  -webkit-animation: ripple .8s;
          animation: ripple .8s;
  opacity: .2;
}

@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@media screen and (max-width: 1024px) {
  .link-area .button-back {
    height: 80px;
  }

  .link-area .btn {
    height: 80px;
    line-height: 80px;
    font-size: 35px;
  }

  .link-area .next-form-btn {
    width: 55%;
  }

  .link-area .next-btn {
    width: 30%;
  }

  .form-container {
    margin-top: 40px;
  }

  .form-container .flex-container .input-container {
    width: 90%;
  }

  .form-container .flex-container .input-container .input-area .input input {
    width: 250px;
    height: 130px;
  }

  .form-container .flex-container .num-button-container {
    width: 70%;
  }

  .form-container .flex-container .num-button-container .num-button-area:nth-child(n+1):nth-child(-n+9) {
    margin-bottom: 13px;
  }

  .form-container .flex-container .num-button-container .num-button-area .button-back {
    width: 85%;
    height: 80px;
    top: 10px;
  }

  .form-container .flex-container .num-button-container .num-button-area .input-btn {
    width: 85%;
    height: 80px;
    font-size: 30px;
  }

  .form-container .flex-container .num-button-container .num-button-area .clear-btn {
    width: 186%;
  }

  .form-container .flex-container .num-button-container .num-button-area .clear-button-back {
    width: 186%;
  }

  .prev-btn-container {
    width: 85%;
    top: 105%;
    left: -7%;
  }

  .prev-btn-container .prev-btn-area {
    width: 24%;
  }

  .prev-btn-container .prev-btn-area .prev-button-back {
    width: 60px;
    height: 60px;
  }

  .prev-btn-container .prev-btn-area .prev-btn {
    width: 60px;
    height: 60px;
    font-size: 25px;
  }
}

