@import url(https://fonts.googleapis.com/css?family=Nunito);html {
  background: #ffffff;
}

input {
  outline: none;
}

button {
  color: #ffffff;
  box-shadow: 0px 5px 4px gray;
  transition: all 0.3s;
}

button:hover {
  box-shadow: 0px 2px 2px gray;
  transform: translateX(2px);
}

header {
  width: 95%;
  margin: auto;
  margin-top: 1%;
  height: 80px;
  line-height: 80px;
}

header .img-container img {
  width: 75px;
  height: 75px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-container {
  padding-bottom: 50px;
  border-bottom: 1px solid #707070;
}

.top-container .fade-down {
  opacity: 0;
  position: relative;
  top: -50px;
}

.top-container .fade-down .number-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.top-container .fade-down .number-container .img-container {
  margin-right: 50px;
}

.top-container .fade-down .number-container .img-container .img-area img {
  width: 250px;
  height: 250px;
}

.top-container .fade-down .number-container .peoples-container .waiting-group {
  font-size: 30px;
}

.top-container .fade-down .number-container .peoples-container .peoples-group-container {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 1;
}

.top-container .fade-down .number-container .peoples-container .peoples-group-container .peoples-group {
  margin-right: 10px;
  font-size: 120px;
  font-weight: bold;
  color: #3163ED;
  line-height: 1.2;
}

.top-container .fade-down .number-container .peoples-container .peoples-group-container .text-area {
  font-size: 30px;
  line-height: 2.6;
}

.top-container .fade-down .number-container .peoples-container .peoples-group-container .text-area .group {
  display: block;
}

.top-container .fade-down .number-container .peoples-container .peoples-group-container .text-area .waiting {
  display: block;
}

.top-container .fade-down .number-container .waiting-time-container {
  font-size: 20px;
}

.top-container .fade-down .number-container .waiting-time-container .text-area .waiting-container .time {
  font-size: 60px;
  color: #3163ED;
  line-height: 1;
}

.bottom-container .fade-up {
  opacity: 0;
  position: relative;
  top: 50px;
}

.bottom-container .fade-up .infomation-container {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

.link-area {
  width: 50%;
  margin: auto;
}

.link-area .btn-container {
  width: 100%;
  height: 80px;
  margin: auto;
  margin-top: 50px;
  line-height: 80px;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  outline: none;
  background-color: #5BCBC6;
}

.link-area .tell-notice {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container .error-msg {
  height: 30px;
  color: red;
  margin-left: 220px;
  font-size: 16px;
}

.form-container .entry-area {
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: flex;
  border-bottom: 2px dotted #D7E4E8;
}

.form-container .entry-area .title {
  width: 200px;
  margin-right: 20px;
  font-size: 24px;
}

.form-container .entry-area label {
  font-size: 18px;
}

.form-container .entry-area input[type=text] {
  width: 250px;
  height: 40px;
  padding: 5px;
  border: 2px solid #D7E4E8;
}

.form-container .entry-area input[type=number] {
  width: 250px;
  height: 40px;
  padding: 5px;
  border: 2px solid #D7E4E8;
}

.form-container .entry-area input[type=radio] {
  margin-right: 10px;
}

.form-container .entry-area select {
  width: 250px;
  height: 40px;
  border: 2px solid #D7E4E8;
}

.form-container .btn-container #form-submit {
  width: 100%;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  line-height: 50px;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
  background-color: #5BCBC6;
  outline: none;
}

.btn-container #form-submit {
  width: 100%;
  height: 50px;
  margin: auto;
  line-height: 50px;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
  background-color: #5BCBC6;
  outline: none;
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.4s;
}

.modal-enter-active .modal-container,
.modal-leave-active .modal-container {
  transition: opacity 0.4s, transform 0.4s;
}

.modal-leave-active {
  transition: opacity 0.6s ease 0.4s;
}

.modal-enter,
.modal-leave-to {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-to .modal-container {
  opacity: 0;
  transform: translate(0px, 50px);
}

