@import url(https://fonts.googleapis.com/css?family=Nunito);html {
  background: #ffffff;
}

body {
  background: #ffffff;
}

input {
  outline: none;
}

button {
  color: #ffffff;
  box-shadow: 0px 5px 4px gray;
  outline: none;
}

header {
  width: 95%;
  height: 80px;
  margin: auto;
  margin-top: 1%;
}

header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #707070;
  padding-bottom: 5px;
}

header .header-container .page-description {
  margin-left: 10px;
  font-size: 30px;
}

header .header-container .img-container {
  margin-right: 10px;
}

header .header-container .img-container img {
  width: 75px;
  height: 75px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-container {
  padding-bottom: 50px;
  border-bottom: 1px solid #707070;
}

.top-container .fade-down {
  opacity: 0;
  position: relative;
  top: -50px;
}

.top-container .fade-down .number-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.top-container .fade-down .number-container .img-container {
  margin-right: 50px;
}

.top-container .fade-down .number-container .img-container .img-area img {
  width: 250px;
  height: 250px;
}

.top-container .fade-down .number-container .peoples-container .waiting-group {
  font-size: 30px;
}

.top-container .fade-down .number-container .peoples-container .peoples-group-container {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 1;
}

.top-container .fade-down .number-container .peoples-container .peoples-group-container .peoples-group {
  margin-right: 10px;
  font-size: 120px;
  font-weight: bold;
  color: #3163ED;
  line-height: 1.2;
}

.top-container .fade-down .number-container .peoples-container .peoples-group-container .text-area {
  font-size: 30px;
  line-height: 2.6;
}

.top-container .fade-down .number-container .peoples-container .peoples-group-container .text-area .group {
  display: block;
}

.top-container .fade-down .number-container .peoples-container .peoples-group-container .text-area .waiting {
  display: block;
}

.top-container .fade-down .number-container .waiting-time-container {
  font-size: 20px;
}

.top-container .fade-down .number-container .waiting-time-container .text-area .waiting-container .time {
  font-size: 60px;
  color: #3163ED;
  line-height: 1;
}

.bottom-container .fade-up {
  opacity: 0;
  position: relative;
  top: 50px;
}

.bottom-container .fade-up .infomation-container {
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

.link-area {
  width: 50%;
  margin: auto;
  position: relative;
  opacity: 0;
}

.link-area .button-back {
  position: absolute;
  top: 8px;
  width: 100%;
  height: 100px;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  background: #008b8b;
}

.link-area .btn {
  position: relative;
  width: 100%;
  height: 100px;
  margin: auto;
  margin-top: 50px;
  line-height: 100px;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  outline: none;
  color: #ffffff;
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.5) inset, 0px -2px 0px rgba(255, 255, 255, 0.2) inset;
  background-color: #5BCBC6;
  top: 0;
  transition: 0.15s all ease;
  background-image: linear-gradient(180deg, #40e0d0 0%, #5BCBC6 90%);
}

.link-area .btn:active {
  top: 5px;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(88, 120, 243, 0.4);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(88, 120, 243, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(88, 120, 243, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(88, 120, 243, 0.4);
  }

  70% {
    box-shadow: 0 0 0 20px rgba(88, 120, 243, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(88, 120, 243, 0);
  }
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple .ripple-active {
  position: absolute;
  pointer-events: none;
  background: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  -webkit-animation: ripple 0.8s;
          animation: ripple 0.8s;
  opacity: 0.2;
}

@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container .error-msg {
  height: 30px;
  color: red;
  margin-left: 220px;
  font-size: 16px;
}

.form-container .entry-area {
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: flex;
  border-bottom: 2px dotted #D7E4E8;
}

.form-container .entry-area .title {
  width: 200px;
  margin-right: 20px;
  font-size: 24px;
}

.form-container .entry-area label {
  font-size: 18px;
}

.form-container .entry-area input[type=text] {
  width: 250px;
  height: 40px;
  padding: 5px;
  border: 2px solid #D7E4E8;
}

.form-container .entry-area input[type=number] {
  width: 250px;
  height: 40px;
  padding: 5px;
  border: 2px solid #D7E4E8;
}

.form-container .entry-area input[type=radio] {
  margin-right: 10px;
}

.form-container .entry-area select {
  width: 250px;
  height: 40px;
  border: 2px solid #D7E4E8;
}

.form-container .btn-container #form-submit {
  width: 100%;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  line-height: 50px;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
  background-color: #5BCBC6;
  outline: none;
}

.btn-container #form-submit {
  width: 100%;
  height: 50px;
  margin: auto;
  line-height: 50px;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
  background-color: #5BCBC6;
  outline: none;
}

.form-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container .input-container {
  width: 80%;
  margin-right: 60px;
}

.form-container .input-container .input-area {
  display: flex;
  align-items: flex-end;
}

.form-container .input-container .input-area .input input {
  width: 350px;
  height: 200px;
  border: 5px solid #707070;
  border-radius: 20px;
}

.form-container .input-container .input-area .group-text {
  margin-left: 10px;
  font-size: 30px;
}

.form-container .input-container .input-area .group-text p {
  margin: 0;
}

.form-container .num-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-container .num-button-container .num-button-area {
  width: 30%;
  margin-bottom: 15px;
  font-size: 50px;
}

.form-container .num-button-container .num-button-area:not(:nth-child(3n)) {
  margin-right: 15px;
}

.form-container .num-button-container .num-button-area:nth-child(11) {
  margin-right: 0;
  width: 65%;
}

.form-container .num-button-container .num-button-area .num-btn {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  background: #f5f5f5;
  color: #232323;
  outline: none;
}

